#include <physical_layouts.dtsi>

/ {
    redox_layout: redox_layout {
        compatible = "zmk,physical-layout";
        display-name = "Layout";

        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  100   38       0     0     0>
            , <&key_physical_attrs 100 100  200   12       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   12       0     0     0>
            , <&key_physical_attrs 100 100  500   25       0     0     0>
            , <&key_physical_attrs 100 100 1100   25       0     0     0>
            , <&key_physical_attrs 100 100 1200   12       0     0     0>
            , <&key_physical_attrs 100 100 1300    0       0     0     0>
            , <&key_physical_attrs 100 100 1400   12       0     0     0>
            , <&key_physical_attrs 100 100 1500   38       0     0     0>
            , <&key_physical_attrs 100 100 1600   38       0     0     0>
            , <&key_physical_attrs 100 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  100  138       0     0     0>
            , <&key_physical_attrs 100 100  200  112       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  112       0     0     0>
            , <&key_physical_attrs 100 100  500  125       0     0     0>
            , <&key_physical_attrs 100 100  600  100       0     0     0>
            , <&key_physical_attrs 100 100 1000  100       0     0     0>
            , <&key_physical_attrs 100 100 1100  125       0     0     0>
            , <&key_physical_attrs 100 100 1200  112       0     0     0>
            , <&key_physical_attrs 100 100 1300  100       0     0     0>
            , <&key_physical_attrs 100 100 1400  112       0     0     0>
            , <&key_physical_attrs 100 100 1500  138       0     0     0>
            , <&key_physical_attrs 100 100 1600  138       0     0     0>
            , <&key_physical_attrs 100 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  100  238       0     0     0>
            , <&key_physical_attrs 100 100  200  212       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  212       0     0     0>
            , <&key_physical_attrs 100 100  500  225       0     0     0>
            , <&key_physical_attrs 100 100  600  200       0     0     0>
            , <&key_physical_attrs 100 100 1000  200       0     0     0>
            , <&key_physical_attrs 100 100 1100  225       0     0     0>
            , <&key_physical_attrs 100 100 1200  212       0     0     0>
            , <&key_physical_attrs 100 100 1300  200       0     0     0>
            , <&key_physical_attrs 100 100 1400  212       0     0     0>
            , <&key_physical_attrs 100 100 1500  238       0     0     0>
            , <&key_physical_attrs 100 100 1600  238       0     0     0>
            , <&key_physical_attrs 100 100    0  338       0     0     0>
            , <&key_physical_attrs 100 100  100  338       0     0     0>
            , <&key_physical_attrs 100 100  200  312       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100  400  312       0     0     0>
            , <&key_physical_attrs 100 100  500  325       0     0     0>
            , <&key_physical_attrs 100 100  650  388    3000   650   388>
            , <&key_physical_attrs 100 100  750  388    3000   650   388>
            , <&key_physical_attrs 100 100  850  388 (-3000)  1050   388>
            , <&key_physical_attrs 100 100  950  388 (-3000)  1050   388>
            , <&key_physical_attrs 100 100 1100  325       0     0     0>
            , <&key_physical_attrs 100 100 1200  312       0     0     0>
            , <&key_physical_attrs 100 100 1300  300       0     0     0>
            , <&key_physical_attrs 100 100 1400  312       0     0     0>
            , <&key_physical_attrs 100 100 1500  338       0     0     0>
            , <&key_physical_attrs 100 100 1600  338       0     0     0>
            , <&key_physical_attrs 100 100    0  438       0     0     0>
            , <&key_physical_attrs 100 100  100  438       0     0     0>
            , <&key_physical_attrs 100 100  200  412       0     0     0>
            , <&key_physical_attrs 100 100  300  400       0     0     0>
            , <&key_physical_attrs 100 100  450  425    1500   450   425>
            , <&key_physical_attrs 100 100  600  475    3000   600   475>
            , <&key_physical_attrs 100 100  700  475    3000   600   475>
            , <&key_physical_attrs 100 100  900  475 (-3000)  1100   475>
            , <&key_physical_attrs 100 100 1000  475 (-3000)  1100   475>
            , <&key_physical_attrs 100 100 1150  425 (-1500)  1250   425>
            , <&key_physical_attrs 100 100 1300  400       0     0     0>
            , <&key_physical_attrs 100 100 1400  412       0     0     0>
            , <&key_physical_attrs 100 100 1500  438       0     0     0>
            , <&key_physical_attrs 100 100 1600  438       0     0     0>
            ;
    };
};
